<%= form_with(model: aquarium) do |form| %>
  <% if aquarium.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(aquarium.errors.count, "error") %> prohibited this aquarium from being saved:</h2>

      <ul>
        <% aquarium.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group form-horizontal">
    <%= form.label :"水族館名" , {class: "col-sm-3 control-label"} %>
    <%= form.text_field :name, {class: "col-sm-6 form-control"}  %>
  </div>

  <div class="form-group form-horizontal">
    <%= form.label :"よみかた", {class: "col-sm-3 control-label"} %>
    <%= form.text_field :reading, {class: "col-sm-6 form-control"}  %>
  </div>

  <div class="form-group form-horizontal">
    <%= form.label :"所在県", {class: "col-sm-3 control-label"} %>
    <%= form.text_field :prefecture, {class: "col-sm-6 form-control"}  %>
  </div>

  <div class="form-group form-horizontal">
    <%= form.label :"住所", {class: "col-sm-3 control-label"} %>
    <%= form.text_field :place, {class: "col-sm-6 form-control"}  %>
  </div>

    <div class="form-group form-horizontal">
    <%= form.label :"ホームページ", {class: "col-sm-3 control-label"} %>
    <%= form.text_field :homepage, {class: "col-sm-6 form-control"}  %>
  </div>

  <div class="form-group form-horizontal">
    <%= form.label :"その他情報", {class: "col-sm-3 control-label"} %>
    <%= form.text_field :information, {class: "col-sm-6 form-control"}  %>
  </div>

  <div class="form-group form-horizontal">
    <%= form.label :order, {class: "col-sm-3 control-label"} %>
    <%= form.number_field :order, {class: "col-sm-6 form-control"}  %>
  </div>
  <br>
  <div class="actions">
    <%= form.submit :"Update", class: "btn btn-outline-secondary" %>
  </div>
  
<% end %>
