<!--個別ページのmeta_tagを設定-->
<% set_meta_tags site: "まれじめんと", 
                 title: "コラム書いてくれた人",
                 noindex: true 
%>

<!--まれじめんとのヘッダーパーシャル-->
<%= render './maregiment/maregiment_header'%>

<!--ここからメイン-->
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @columned_by.name %>
</p>

<%= link_to 'Edit', edit_columned_by_path(@columned_by) %> |
<%= link_to 'Back', columned_bies_path %>
