

<nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-3">

  <%= link_to "まれじめんと", maregiment_path ,{class: "navbar-brand"}%>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav4" aria-controls="navbarNav4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <%= link_to '写真登録', "/photo_sets", {class: "nav-link"} %>
      </li>
      <li class="nav-item">
        <%= link_to '生き物', "/creatures", {class: "nav-link"} %>
      </li>
      <li class="nav-item">
        <%= link_to '水族館情報', "/aquaria", {class: "nav-link"} %>
      </li>
      <li class="nav-item">
        <%= link_to 'カテゴリー１', "categories", {class: "nav-link"} %>
      </li>
      <li class="nav-item">
        <%= link_to 'ライター', "/columned_bies", {class: "nav-link"} %>
      </li>
      <li class="nav-item">
        <%= link_to '撮影者', "/photo_bies", {class: "nav-link"} %>
      </li>
      <li class="nav-item">
        <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
      </li>
    <ul>
  </div>

</nav>


<%= stylesheet_link_tag "maregiment/bootstrap.min.css", media: "all", 'data-turbolinks-track': "reload" %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<%= javascript_include_tag 'Bootstrap/bootstrap.min.js' %>
