<!--個別ページのmeta_tagを設定-->
<% set_meta_tags site: "まれじめんと", 
                 title: "写真くれた人",
                 noindex: true 
%>

<!--まれじめんとのヘッダーパーシャル-->
<%= render './maregiment/maregiment_header'%>

<!--ここからメイン-->
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photo_by.name %>
</p>

<%= link_to 'Edit', edit_photo_by_path(@photo_by) %> |
<%= link_to 'Back', photo_bies_path %>
