<section id="main_area">
  <div class="large_section">
    <h2 class="large_category_name"><%= @category.name %></h2>

    <% @category.category_seconds.each do |category_second| %>
    <div class="small_section">
      <h2 class="small_categories"><%= category_second.name %></h2>
      <div class="lists">

        <% category_second.creatures.order("japanese_name").each do |creature| %>
          <div class="point">
            <h3><%= creature.japanese_name%></h3>
            <figure class="modal-open">
              <%= link_to modal_path(creature.id), remote: true do %>
                <%= image_tag PhotoSet.find(Photo.find_by(creature_id: creature.id).photo_set_id).image_sets.find(Photo.find_by(creature_id: creature.id).photo_num).variant(resize: "300")%>
              <% end %>
            </figure>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</section>
