<footer>
    <div id="footer_navi">
        <ul>
            <li><%= link_to "いきもの紹介", top_path%></li>
            <li><%= link_to "いきものたち", top_path%></li>
            <li><%= link_to "コラム", column_path%></li>
            <li><%= link_to "お知らせ", information_path%></li>
            <li><%= link_to "運営者", writer_path%></li>
        </ul>
    </div>
    <small>&copy; 2022 MareMare_aquariums.</small>
</footer>
