<!--modal-contentの中身をこれにかえる-->

  <div class="modal-pic">
    <!--code_pic該当部分以下を繰り返す-->
    <div>
      <% @creaturephotos.each do |photo| %>
      <td><%= image_tag PhotoSet.find(photo.photo_set_id).image_sets.find(photo.photo_num).variant( resize: "300" ) %></td>
      <p class="caption"><%= photo.caption %></p>
      <%end%>
    </div>
  </div>

  <!--code_info 該当部分-->
  <table align="left" valign="top">
    <tr><th class="ti">和名</th><th>:</th><th><%= @creature.japanese_name %></th></tr>
    <tr><th class="ti">学名</th><th>:</th><th><%= @creature.scientific_name %></th></tr>
    <tr><th class="ti">説明</th><th>:</th><th><%= @creature.information %></th></tr>
  </table>

  <script>    //生き物画像用のモーダル
    $('.modal-pic').slick({
        infinite: true, //スライドのループ有効化
        dots: true, //ドットのナビゲーションを表示
        centerMode: true, //要素を中央寄せ
        centerPadding: '0%', //両サイドの見えている部分のサイズ
        autoplay: false, //自動再生
        arrows: false,//矢印
    });</script>
  <script>$('.modal-container').addClass('active')</script>
  <script>modal()</script>
