<!--modal-contentの中身をこれにかえる-->
  <div class="modal-pic">
    <!--code_pic該当部分以下を繰り返す-->
      <% @creaturephotos.each do |photo| %>
      <div><%= image_tag PhotoSet.find(photo.photo_set_id).image_sets.find(photo.photo_num).variant( resize: "300" ) %>
      <p class="caption"><%= photo.caption %></p>
      </div>
      <%end%>
  </div>
  <!--code_info 該当部分-->
  <table align="left" valign="top">
    <tr><th class="ti">和名</th><th>:</th><th><%= @creature.japanese_name %></th></tr>
    <tr><th class="ti">学名</th><th>:</th><th><%= @creature.scientific_name %></th></tr>
    <tr><th class="ti">説明</th><th>:</th><th><%= @creature.information %></th></tr>
  </table>


  <script>$('.modal-container').addClass('active')</script>
  <script>modal()</script>
