<!--ここからメインビジュアル画像-->
<div id="main_visual">
  <div class="poke_pic">
    <div><%= image_tag "20180503_163501.jpg" %></div>
    <div><%= image_tag "20220115_122435.jpg" %></div>
    <div><%= image_tag "IMG_1534.JPG" %></div>
    <div><%= image_tag "IMG_20160201_125148.jpg" %></div>
    <div><%= image_tag "S__115630101.jpg" %></div>
    <div><%= image_tag "20180503_190657.jpg" %></div>            
  </div>
</div>
