<%= stylesheet_link_tag "maremare_aquarium/main.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= javascript_include_tag 'maremare_aquarium/slick.js' %>
<%= javascript_include_tag 'maremare_aquarium/main.js' %>
<%= stylesheet_link_tag "maremare_aquarium/slick.css", media: "all", 'data-turbolinks-track': "reload" %>


    <body>
        <!--headerを挿入-->
        <%= render partial: "header" %>
        <%= render partial: "topslide" %>

        <div id="wrapper">
            
            <%= render partial: "sidebar" %>

            <!--ここからメイン-->
            <div id="main">
                <!--クリックしたら画像が表示されるところ-->
                <section id="main_area"></section>

                <!--メインエリア-->
                <section>
                    <h2>いきものコラム</h2>
                    <br>
                    <a href="/column/urashima.html" class="column_link">【第一回】 浦島太郎に出てくるウミガメの種類って？</a>

                    <div><br><br></div>
                </section>
            


     
        
                <section id="news">
                    <h2>お知らせ</h2>
                    <ul>
                        <li>
                            <span>2022/1/28</span>
                            <a href="">ホームページを開設しました！！</a>
                        </li>
                    </ul>
                </section>
            </div>
            <!--メインここまで-->
            <!--ここからサイド-->

            <!--サイドここまで-->
        </div>
        <!--wrapperここまで-->
                <%= render partial: "footer" %>
        <%= render partial: "footer" %>

    </body>
</html>
