
<%= stylesheet_link_tag "maremare_aquarium/dictionary.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/slick.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/slick-theme.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/main.css", media: "all", 'data-turbolinks-track': "reload" %>



    <body>

        <!--ここからヘッダー-->
        <%= render partial: "header" %>
        <%= render partial: "topslide" %>

        <div id="wrapper">
            <%= render partial: "sidebar" %>
            <!--ここからメイン-->
            <div id="main">
                <%= render partial: "creature" %>
                <!--クリックしたら画像が表示されるところ-->
                <section id="main_area">
                    <div id="creatures"></div>
                </section>
                <!--モーダルやらなんちゃらを入れる部分-->
                <div id="dictionary-wrapper"></div>

                <!-- モーダル本体 -->
                <div class="modal-container">
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        <div class="modal-close">×</div>
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <p>文章が入ります。</p>
                        </div>
                    </div>
                </div>
                

                </section>



                
                <section id="news">
                    <h2>お知らせ</h2>
                    <ul>
                        <li>
                            <span>2022/1/28</span>
                            <a href="">ホームページを開設しました！！</a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>

        <%= render partial: "footer" %>


    </body>

<%= javascript_include_tag 'maremare_aquarium/slick.js' %>
<%= javascript_include_tag 'maremare_aquarium/main.js' %>
