<!--cssとjsファイルを読み込み-->
<%= stylesheet_link_tag "maremare_aquarium/dictionary.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/slick.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/slick-theme.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/main.css", media: "all", 'data-turbolinks-track': "reload" %>

<!--個別ページのmeta_tagを設定-->
<% set_meta_tags title: "生き物図鑑",
                 description: "お魚研究生と元研究生がつくる、水族館の生き物図鑑です。まだまだ情報更新中ですが、水族館の生き物たちの様々な姿を紹介します。"
%>


    <body>

        <!--ヘッダー-->
        <%= render partial: "header" %>
        <%= render partial: "topslide" %>

        <div id="wrapper">
            <%= render partial: "sidebar" %>
            <!--メイン-->
            <div id="main">
                <!--生き物のボタンをパーシャルで表示-->
                <%= render partial: "picbutton" %>

                <!--クリックしたら画像が表示されるところ-->
                <section id="main_area">
                    <div id="creatures"></div>
                </section>
                <!--モーダルやらなんちゃらを入れる部分-->
                <div id="dictionary-wrapper"></div>

                <!-- モーダル本体 -->
                <div class="modal-container">
                    <div class="modal-body">
                        <!-- 閉じるボタン -->
                        <div class="modal-close">×</div>
                        <!-- モーダル内のコンテンツ -->
                        <div class="modal-content">
                            <p>文章が入ります。</p>
                        </div>
                    </div>
                </div>
                

                </section>



                
                <section id="news">
                    <h2>お知らせ</h2>
                    <ul>
                        <li>
                            <span>2022/1/28</span>
                            <a href="">ホームページを開設しました！！</a>
                        </li>
                    </ul>
                </section>
            </div>
        </div>

        <%= render partial: "footer" %>


    </body>

<%= javascript_include_tag 'maremare_aquarium/slick.js' %>
<%= javascript_include_tag 'maremare_aquarium/main.js' %>

<script>
$(function() {
    $(".nav").css("display","none");
    $(".menu_button").on("click", function() {
        $(".nav").slideToggle();
    });
});
</script>
