<%= stylesheet_link_tag "maremare_aquarium/main.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/dictionary.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/slick.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/slick-theme.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= javascript_include_tag 'maremare_aquarium/slick.js' %>
<%= javascript_include_tag 'maremare_aquarium/main.js' %>
<%= stylesheet_link_tag "maremare_aquarium/header.css", media: "all", 'data-turbolinks-track': "reload" %>



    <body>
        <!--headerを取得-->
        <%= render partial: "header" %>
        <%= render partial: "topslide" %>
        
        <div id="wrapper">


        <%= render partial: "sidebar" %>

            <!--ここからメイン-->
            <div id="main">
                <!--クリックしたら画像が表示されるところ-->
                <section id="main_area"></section>

                <!--メインエリア-->
                <section>

                    <h2>このホームページについて</h2>
                    <div>
                        <br>
                        <span style="font-weight:900">【このページの役割】</span><br><br>
                        &emsp; このサイトは私たちお魚研究生と、(元)お魚研究生、そしてそのフレンズが協力して<br><br>
                        &emsp; まだまだ知られていない<br><br>
                        &emsp; 水族館の可愛い生き物の姿を伝えたいと思って開設しました。<br><br>
                        &emsp; いつかは、全国の水族館の生き物を網羅して、、<br><br>
                        &emsp; <span style="font-size: 20px; font-weight: 800;">「この生き物に会うためには、この水族館にいけばいいんだ！」</span><br><br>
                        &emsp; が分かるサイトにしたいと思っています。<br><br>
                        &emsp; それまで応援よろしくお願いします！<br><br>
                        <br>
                        <br>
                        <br>
                        <br><br>
                        <span style="font-weight:900">【ホームページのあっぷぐれーどについて】</span><br><br>
                        &emsp; これは、作者が作る初めてのホームページです。<br><br>
                        &emsp; ぐーぐるさんを駆使しながら一生懸命作りました。<br><br>
                        &emsp; 使いにくいところは、ちょっとずつあっぷぐれーどさせていきます！(許してね)<br><br>
                        <br><br>
                        <br><br>
                    </div>

                    <h2>決まり事</h2>
                    <div>
                        <br><br><br>
                        決まり事<br><br>
                        1 : 写真は使っていいよ。パワポとかパワポとか<br><br>
                        2 : 著作権は放棄していないので、自分が撮ったものです！って使ってはいけないよ<br><br>
                        3 : 情報が間違っていたときは優しく教えてね<br><br>
                        <br><br><br>
                    </div>

                    <h2>運営者の紹介をするよ</h2>
                    <div>
                        <br>
                        【かめたろう】 <br>
                        1 : とにかくカメが好きなカメマスター<br>
                        2 : インスタグラムの更新を担当しているよ<br>
                        3 : 好きな島は小笠原諸島!!<br>
                        4 : 卓球で培った持ち前のフットワークの軽さで<br>
                        5 : 全国の水族館制覇を目指す！<br>
                        <br>
                        <br>
                        【しゅま】<br>
                        1 : Web制作と企画を担当しているよ<br>
                        2 : まだ勉強を始めたばかりだからわからないことばかりだよ。
                        3 : お魚料理が得意。<br>
                        4 : 将来の夢は小料理屋さんを開くこと。<br>
                        5 : いろんな美味しい魚が食べたい！<br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>
                        <br>

                    </div>
                </section>
            


     
        
                <section id="news">
                    <h2>お知らせ</h2>
                    <ul>
                        <li>
                            <span>2022/1/28</span>
                            <a href="">ホームページを開設しました！！</a>
                        </li>
                    </ul>
                </section>
            </div>
            <!--メインここまで-->
            <!--ここからサイド-->

            <!--サイドここまで-->
        </div>
        <!--wrapperここまで-->

        <%= render partial: "footer" %>

    </body>
</html>
