<%= form_with(model: photo) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>



  <div class="field">
    <%= form.label :caption, {class: "col-sm-3 control-label"} %>
    <%= form.text_area :caption, class:"form-control form-control-sm col-lg-5" %>
  </div>

  <div class="field">
    <%#= form.label :picture %>
    <%#= form.file_field :picture, {multiple: true} %>
    <%#= form.file_field :pictures %>

  </div>

  <div class="form-group form-horizontal">
    <%= form.label :生き物の名前, {class: "col-sm-3 control-label"}  %>
    <%= form.collection_select :creature_id, Creature.all.order(:japanese_name), :id, :japanese_name, { prompt: false }, class:"form-control form-control-sm col-lg-5"%>
  </div>

    <%= form.label :写真撮った人, {class: "col-sm-3 control-label"}  %>
    <%= form.collection_select :photo_by_id, PhotoBy.all, :id, :name, { prompt: false }, class:"form-control form-control-sm col-lg-5"%>


  <%= form.label :水族館, {class: "col-sm-3 control-label"}  %>
  <%= form.collection_select :aquarium_id, Aquarium.all, :id, :name, { prompt: false}, class:"form-control form-control-sm col-lg-5" %>


  <div class="actions">
    <%= form.submit :"Update", class: "btn btn-outline-secondary" %>
  </div>


<% end %>
