<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @photo.id %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Picture:</strong>
  <% @photo.photo_num do |pict| %>
  <%= image_tag pict %>
  <% end%>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
