<%= render './maregiment/maregiment_header'%>
  <p id="notice"><%= notice %></p>
<div class="form_wrapper" style="padding:20px">

<p id="notice"><%= notice %></p>

<p>
  <strong>Photo:</strong>
  <%= @photo.id %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Picture:</strong>
  <% @photo.photo_num do |pict| %>
  <%= image_tag pict %>
  <% end%>
</p>


<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', "/photosetlist/#{PhotoSet.find(@photo.photo_set_id).name}" %>
