<!--個別ページのmeta_tagを設定-->
<% set_meta_tags site: "まれじめんと", 
                 title: "カテゴリー1",
                 noindex: true 
%>

<!--まれじめんとのヘッダーパーシャル-->
<%= render './maregiment/maregiment_header'%>

<!--ここからメイン-->
<div class="form_wrapper" style="padding:20px">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @category.name %>
  </p>

  <p>
    <strong>Picture:</strong>
    <%= @category.picture %>
    <%= image_tag(@category.picture_url) if @category.picture.present? %>
  </p>

  <p>
    <strong>Order:</strong>
    <%= @category.order %>
  </p>

  <%= link_to 'Edit', edit_category_path(@category) %> |
  <%= link_to 'Back', maregiment_path %>
</div>
