<%= form_with(model: category_second) do |form| %>
  <% if category_second.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(category_second.errors.count, "error") %> prohibited this category_second from being saved:</h2>

      <ul>
        <% category_second.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group form-horizontal">
    <%= form.label :名前, {class: "col-sm-3 control-label"}  %>
    <%= form.text_field :name, {class: "col-sm-6 form-control"}   %>
  </div>

  <div class="form-group form-horizontal">
    <%= form.label :順番, {class: "col-sm-3 control-label"}  %>
    <%= form.number_field :order, {class: "col-sm-6 form-control"}   %>
  </div>

  <%# カテゴリー2を選択する　%>
  <div class=" form-group form-horizontal">
    <%= form.label :"カテゴリー1 選択", {class: "col-sm-3 control-label"}   %>
    <%= form.collection_select :category_id, Category.all, :id, :name %><br><br>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
