<!--個別ページのmeta_tagを設定-->
<% set_meta_tags site: "まれじめんと", 
                 title: "写真セット一覧",
                 noindex: true 
%>

<!--まれじめんとのヘッダーパーシャル-->
<%= render './maregiment/maregiment_header'%>

<!--ここからメイン-->
  <p id="notice"><%= notice %></p>
<div class="form_wrapper" style="padding:20px">

  <h1>Photo Sets</h1>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @photo_sets.each do |photo_set| %>
        <tr>
          <td><%= photo_set.name %></td>
          <%#= 写真の中身を編集しにいく %>
          <td><%= link_to '編集', "photosetlist/#{photo_set.name}" %>
          <td><%#= link_to '編集', photo_set_path(photo_set) %></td>
          <td><%#= link_to '削除 間違って登録したときだけ', photo_set, method: :delete, data: { confirm: '消していいですか?' } %></td>
        </tr>
    

    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to '新規追加', new_photo_set_path %>
  <%= link_to 'まれじめんと Top', maregiment_path %>
</div>
