<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photo_set.name %>
  <%= @photo_set.id%>
</p>

<p>
  <strong>Portrait:</strong>
  <% if @photo_set.image_sets.attached? %>
    <% @photo_set.image_sets.each do |set| %>
      <%= set.id%>
      <%= image_tag set.variant(resize_to_limit: [100, 100]) %>
    <% end %>
  <% end %>
</p>

<p>にゃん</p>


<%= link_to 'Edit', edit_photo_set_path(@photo_set) %> |
<%= link_to 'Back', photo_sets_path %>
