
<%= stylesheet_link_tag "maremare_aquarium/dictionary.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/slick.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/slick-theme.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/main.css", media: "all", 'data-turbolinks-track': "reload" %>


        <%= render partial: "./maremare_aquarium/header" %>
       <div id="wrapper">
            <%= render partial: "./maremare_aquarium/sidebar" %>
            <!--ここからメイン-->
            <div id="main">

                <!--クリックしたら画像が表示されるところ-->
                <section id="main_area">
                    <%= render partial: "checkbox" %>
                </section>
                <!--モーダルやらなんちゃらを入れる部分-->

            </div>
        </div>

        <%= render partial: "./maremare-aquarium/footer" %>

