
<%= stylesheet_link_tag "maremare_aquarium/dictionary.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/slick.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/slick-theme.css", media: "all", 'data-turbolinks-track': "reload" %>
<%= stylesheet_link_tag "maremare_aquarium/main.css", media: "all", 'data-turbolinks-track': "reload" %>


        <%= render partial: "./maremare_aquarium/header" %>
       <div id="wrapper">
            <%= render partial: "./maremare_aquarium/sidebar" %>
            <!--ここからメイン-->
            <div id="main">

                <!--クリックしたら画像が表示されるところ-->
                <section id="main_area">
                    <div class="title">あなたの水族館マニア度は</div>
                    <br>
                    <br><br>
                    <div class="score"><%= @score %></div>
                    <br><br><br><br>
                    <div class="tensu"><%= @num +  "か所 / 100か所"%>
                    <br>
                    <br>
                    <div class="comment"><%= @comment%></div>

                    <style>
                        .title{
                            font-size: 20px
                        }
                        .score{
                            font-size: 90px
                        }
                        .tensu{
                            font-size: 30px;

                        }
                        .comment{
                            font-size: 20px

                        }
                    </style>
                </section>
                <!--モーダルやらなんちゃらを入れる部分-->

            </div>
        </div>

        <%= render partial: "./maremare_aquarium/footer" %>

